.about-us {
  margin: 0;
  padding: 0;
  padding-top: 71%;
  padding-bottom: 55%;
  margin-bottom: 114px;

  background-image: url("../img/about-layer_mobile.png"), url("../img/about-picture_mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.about-us__picture {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 0 auto;
}
.about-us__text {
  width: 91%;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;

  font-family: "Raleway";
  font-weight: 400;
  font-size: 6.875vw;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .about-us {
    width: 768px;
    padding-top: 312px;
    padding-bottom: 284px;

    background-image: url("../img/about-picture_tablet.png");
    background-repeat: no-repeat;
  }
  .about-us__text {
    width: 460px;

    line-height: auto;
  }
}
