.form {
  margin: 0;
  padding: 0;
  padding-top: 27%;
  padding-bottom: 23%;
  padding-left: 16px;
  padding-right: 13px;
  box-sizing: border-box;

  background-image: url("../img/form-kitchen_mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.form__caption {
  width: 88%;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 22px;

  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 45px;
  text-align: center;
  color: #ffffff;
}
.form__text {
  width: 89%;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 44px;

  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 24px;
  color: #beb2a8;
}
.form__wrapper-input {
  width: 89%;
  margin: 0 auto;
}
.form__input {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 14px;
  margin-bottom: 57px;

  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #ffffff;

  border: none;
  border-bottom: 1px solid #beb2a8;
  background-color: transparent;
}
.form__button {
  display: block;
  padding-top: 31px;
  padding-bottom: 27px;
  padding-left: 75px;
  padding-right: 81px;
  margin: 0 auto;
  margin-bottom: 19px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  color: #ffffff;
  text-transform: uppercase;

  border: none;
  border-radius: 10px;
  background-color: #f8a25a;

  cursor: pointer;
}
.form__regulations {
  width: 81%;
  margin: 0 auto;
  padding: 0;

  font-family: "Raleway";
  font-weight: 400px;
  font-size: 16px;
  color: #78848e;
  text-align: center;
}
@media (min-width: 768px) {
  .form {
    padding-top: 80px;
    padding-bottom: 79px;
    padding-left: 36px;
    padding-right: 37px;

    background-image: url("../img/form-kitchen_tablet.png");
  }
  .form__caption {
    width: 573px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
  }
  .form__text {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 44px;

    font-size: 22px;
  }
  .form__input {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .form__button {
    display: block;
    width: 475px;
    padding-top: 31px;
    padding-bottom: 27px;
    padding-left: 160px;
    padding-right: 180px;
    margin-bottom: 19px;
    margin-left: auto;
    margin-right: auto;
  }
  .form__regulations {
    display: block;
    width: 480px;
    margin-left: auto;
    margin-right: auto;

    font-size: 18px;
  }
  .form__wrapper-input {
    position: relative;

    width: 62%;
    max-width: 600px;
  }
  .form__img {
    position: absolute;
    right: 0;
    top: 0;

    display: block;
  }
}
@media (min-width: 1200px) {
  .form {
    display: flex;
    max-width: 1360px;
    padding: 0;
    margin: 0 auto;

    background-image: none;
  }
  br {
    display: none;
  }
  .form__wrapper {
    width: 50%;
    padding: 80px 100px;

    background-color: #182c3d;

    box-sizing: border-box;
  }
  .form__picture.hidden {
    display: block;
  }
  .form__caption {
    margin-bottom: 20px;

    font-size: 27px;
    text-align: left;
  }
  .form__text {
    width: auto;
    margin: 0;
    margin-bottom: 30px;

    font-size: 14px;
    text-align: left;
  }
  .form__wrapper-input {
    width: auto;
    margin: 0;
  }
  .form__regulations {
    width: auto;
    margin: 0;

    font-size: 14px;
    text-align: left;
  }
  .form__button {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;

    border: 1px solid #ffffff;
    background-color: transparent;
  }
}
