.page-main {
  background-color: #ffffff;
}
.main-features {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 74px;
  padding-bottom: 87px;
  margin-left: auto;
  margin-right: auto;

  box-sizing: border-box;
}
.main-features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
}
.main-features__item {
  width: 94%;
}
.main-features__number {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;

  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 85px;
  color: #fde3c9;
}
.main-features__caption {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
}
.main-features__text {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;

  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  &:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .page-main {
    background-color: #fdfaf3;
  }
  .main-features {
    width: 768px;
    padding-left: 36px;
    padding-right: 37px;
    padding-top: 98px;
    padding-bottom: 150px;

  }
  .main-features__list-wrapper {
    display: flex;
  }
  .main-features__item:nth-child(odd) {
    margin-right: 70px;
  }
  .main-features__item:nth-child(even) {
    padding-top: 163px;
    margin-right: 70px;

    vertical-align: bottom;
  }
}
