.our-services {
  margin: 0;
  padding: 0;
  padding-bottom: 109px;
}
.our-services__caption {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 45px;
  text-align: center;
}
.our-services__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 16px;

  list-style: none;
}
.our-services__item {
  max-width: 45%;
  min-width: 282px;
  flex-grow: 1;
  margin: 0;
  padding: 0 10px;
  margin-bottom: 30px;

  font-family: "Raleway";
  font-weight: 400;
  font-size: 22px;
  color: #bababa;
  &:last-child {
    margin-bottom: 60px;
  }
  &.active {
    font-weight: 700;
    color: #000000;
  }
}
.our-services__text {
  margin: 0;
  padding: 0;
  margin-top: 33px;
  margin-bottom: 52px;
  padding-left: 16px;
  padding-right: 14px;

  font-family: "Raleway";
  font-weight: 400;
  font-size: 20px;
  color: #9b9a97;
}
.our-services__button {
  display: block;
  width: 217px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 18px;
  padding-left: 39px;
  padding-right: 38px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid #000000;

  cursor: pointer;
}
.our-services__picture {
  display: block;
  width: 100%;
  object-fit: contain;
}
@media (min-width: 768px) {
  .our-services {
    margin: 0;
    padding: 0;
    padding-bottom: 198px;
  }
  .our-services__caption {
    margin: 0;
    padding: 0;
    padding-left: 36px;
    padding-right: 37px;
    margin-bottom: 45px;

    text-align: left;
  }
  .our-services__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 36px;
    padding-right: 37px;
  }
  .our-services__item {
    width: 300px;
    margin-bottom: 80px;
  }
  .our-services__item-text {
    width: 290px;
    margin: 0;
    padding: 0;
  }
  .our-services__description {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 36px;
    padding-right: 37px;
  }
  .our-services__text {
    width: 65%;
    padding-left: 0;
  }
  .our-services__quantity {
    display: block;

    font-family: "Raleway";
    font-weight: 400;
    font-size: 22px;
    text-align: right;
  }
  .our-services__button {
    width: 339px;
    margin-left: 0;
    padding-top: 28px;
    padding-bottom: 23px;
    padding-left: 86px;
    padding-right: 86px;

    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .our-services {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 95px;
    padding-bottom: 198px;

    box-sizing: border-box;
  }
  .our-services__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .our-services__list {
    max-width: 280px;
    padding: 0;
    margin-right: 20px;
  }
  .our-services__wrapper.our-services__wrapper--second-column {
    display: flex;
    flex-direction: column;
    width: 890px;
  }
  .our-services__caption {
    padding: 0;
  }
  .our-services__item {
    padding: 0;
    &.active .our-services__item-text{
      max-width: 200px;
      padding-left: 28px;
    }
  }
  .our-services__subtitle {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 30px;
  }
  .our-services__item-text {
    max-width: 180px;
    font-size: 18px;
  }
  .our-services__text {
    width: 100%;
    margin: 0;
  }
  .our-services__description {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 50px;
  }
  .our-services__button {
    width: 217px;
    padding: 21px 38px;

    font-size: 15px;
  }
  .our-services__description-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .our-services__quantity {
    margin: 0;
  }
  .our-services__text-wrapper {
    width: 60%;
  }
}
