.page-footer {
  margin: 0;
  padding: 0;
  padding-top: 98px;
  padding-bottom: 92px;

  background-color: #182c3d;
}
.page-footer__logo {
  display: block;
  margin:0 auto;
  margin-bottom: 44px;
}
.page-footer__list {
  display: flex;
  justify-content: space-between;
  width: 218px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 61px;

  list-style: none;
}
.page-footer__company {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 71%;
  margin: 0 auto;
}
.page-footer__text {
  display: block;
  margin: 0 auto;
  padding: 0 10px;

  font-family: "Raleway";
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  color: #ffc487;
}
@media (min-width: 768px) {
  .page-footer {
    position: relative;

    padding-top: 77px;
    padding-bottom: 82px;
  }
  .page-footer__logo {
    margin: 0 auto;
  }
  .page-footer__list {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 157px;

    width: 150px;
  }
  .page-footer__company {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;

    box-sizing: border-box;
  }
  .page-footer__text {
    margin: 0;

    font-size: 16px;
    text-align: left;
    &:last-child {
      text-align: right;
    }
  }
}
@media (min-width: 1200px) {
  .page-footer {
    max-width: 1360px;
    margin: 0 auto;
    padding-left: 96px;
    padding-right: 96px;

    box-sizing: border-box;
  }
  .page-footer__company {
    width: auto;
  }
}
