.page-header {
  position: relative;

  margin-left: auto;
  margin-right: auto;
  padding-top: 8%;
  padding-right: 5%;
  padding-bottom: 48%;
  padding-left: 5%;

  color: #ffffff;

  box-sizing: border-box;

  background-image: url("../img/header-layer_mobile.png"), url("../img/header-image_mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.page-header__menu {
  width: 34px;
  padding: 0;
  margin: 0;
  z-index: 2;

  background-image: url("../img/menu_mobile.png");
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;

  cursor: pointer;
}
.page-header__menu.open {
  width: 25px;

  background-image: url("../img/close_mobile.png");
  background-repeat: no-repeat;
}
.page-header__navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38%;
}
.page-header__nav {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  padding-bottom: 78px;
  width: 100%;
  z-index: 1;

  background-color: #112537;
}
.page-header__list {
  margin: 0;
  padding: 0;
  padding-top: 124px;

  list-style: none;

  font-family: "Raleway";
  font-weight: 400px;
  font-size: 6.25vw;
  text-align: center;
  text-transform: uppercase;
}
.page-header__item {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  &:last-child {
    margin-bottom: 67px;
  }
}
.page-header__list-link {
  text-decoration: none;
  color: #ffffff;

  cursor: pointer;
  &:hover {
    color: #f8a25a;
  }
}
.page-header__social {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 180px;

  list-style: none;
}
.page-header__caption {
  font-size: 15vw;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-align: center;
}
.page-header__text {
  font-size: 5.625vw;
  font-family: "Muller Thin", serif;
  text-align: center;
}
.page-header__button {
  display: block;
  width: 70%;
  padding-top: 6%;
  padding-bottom: 6%;
  padding-left: 12%;
  padding-right: 12%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

  font-family: "Raleway", serif;
  font-weight: 400;
  font-size: 4.375vw;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #f8a25a;

  border: none;

  cursor: pointer;
}
.page-header__img {
  position: absolute;
  bottom: 84px;
  left: 50%;
  transform: translateX(-50%);
}
.page-header__nav.show {
  display: block;
}

@media (min-width: 768px) {
  .page-header {
    padding-top: 61px;
    padding-right: 37px;
    padding-bottom: 285px;
    padding-left: 36px;

    background-image: url("../img/header-layer_tablet.png"), url("../img/header-image_tablet.png");
  }
  .page-header__menu {
    width: 64px;

    background-image: url("../img/menu_tablet.png");
    background-repeat: no-repeat;
  }
  .page-header__menu.open {
    width: 45px;

    background-image: url("../img/close_tablet.png");
  }
  .page-header__navigation {
    margin-bottom: 201px;
  }

  .page-header__nav {
    padding-bottom: 183px;

    background-color: #112537;
  }
  .page-header__list {
    padding-top: 237px;

    font-size: 35px;
  }
  .page-header__item {
    margin-bottom: 60px;
    &:last-child {
      margin-bottom: 115px;
    }
  }
  .page-header__social {
    width: 320px;
  }
  .page-header__caption {
    margin-bottom: 51px;

    font-size: 100px;
  }
  .page-header__text {
    display: block;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;

    font-size: 26px;
    text-align: center;
  }
  .page-header__button {
    width: 439px;
    padding-top: 39px;
    padding-bottom: 37px;
    padding-left: 55px;
    padding-right: 56px;

    font-size: 30px;
  }
  .page-header__img {
    position: absolute;
    bottom: 129px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 1200px) {
  body {
    margin: 0 auto;

    background-color: #fdfaf3;
  }
  .page-header {
    position: relative;

    max-width: 1360px;
    padding: 0;
    margin: 0 auto;
    padding-right: 96px;
    padding-bottom: 34px;
    padding-left: 102px;
    padding-top: 23px;

    background-image: url("../img/header-layer_desktop.png"), url("../img/header-image_desktop.png");
    background-position: left 0, 101px 84px;
    background-repeat: no-repeat;
    background-size: 50%, 85.5%;
  }
  .page-header__wrapper-phone {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 130px;

    color: #000000;

    order: 3;
  }
  .page-header__phone-img {
    display: block;
  }
  .page-header__phone {
    display: block;

    font-family: "Raleway";
    font-size: 14px;
  }
  .page-header__logo {
    order: 2;
  }
  .page-header__navigation {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
  }
  .page-header__menu {
    width: 26px;
    height: 18px;
    order: -1;
    margin-right: 130px;

    background-image: url("../img/menu_desktop.png");
    background-repeat: no-repeat;
  }
  .page-header__menu.open {
    width: 26px;
    height: 22px;
    order: -1;

    background-image: url("../img/close_desktop.png");
  }
  .page-header__caption {
    width: 345px;
    margin-bottom: 15px;
    margin-left: 90px;
    margin-top: 166px;

    font-size: 61px;
    text-align: left;
  }
  .page-header__text {
    width: 330px;
    margin: 0;
    margin-bottom: 36px;
    margin-left: 94px;

    font-size: 14px;
    text-align: left;
    line-height: 21px;
  }
  .page-header__button {
    position: relative;

    width: 277px;
    margin: 0;
    margin-left: 96px;
    margin-bottom: 20%;
    padding-top: 19px;
    padding-bottom: 20px;
    padding-left: 29px;
    padding-right: 91px;

    font-size: 14px;
    &::after {
      position: absolute;

      right: 20px;
      content: url("../img/arrow_desktop.png");
    }
  }
  .page-header__img {
    display: none;
  }
  .page-header__nav {
    position: absolute;
    top: 84px;
    left: 101px;

    width: 85.5%;
    padding-top: 115px;
    padding-bottom: 80px;
  }
  .page-header__social {
    display: flex;
    width: 120px;
  }
  .page-header__list {
    padding: 0;
  }
  .page-header__list-link {
    font-size: 20px;
  }
  .page-header__item {
    margin-bottom: 20px;

    line-height: 42px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  .page-header__button-list {
    position: absolute;
    bottom: 44px;
    right: 7%;

    display: flex;
    justify-content: space-between;
    width: 140px;

    list-style: none;
  }
  .page-header__button-slide {
    width: 26px;
    margin: 0;
    padding: 0;

    border: none;
    border-bottom: 3px solid #dde0db;

    cursor: pointer;
    &.active {
      border-color: #668182;
    }
  }
}
