.portfolio {
  position: relative;

  padding-bottom: 134px;
}
.portfolio__caption {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 45px;
  text-align: center;
}
.portfolio__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 16px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 22px;
  list-style: none;
}
.portfolio__item {
  flex-grow: 1;
  margin: 0;
  padding: 0 10px;
  margin-bottom: 25px;

  color: #bababa;
  &:last-child {
    margin-bottom: 0;
  }
}
.portfolio__item.active {
  color: #000000;
}
.portfolio__list-image {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}
.portfolio__item-text {
  position: absolute;
  left: 50%;
  bottom: 96px;

  min-width: 290px;
  margin: 0;
  padding: 0;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  text-align: center;

  transform: translateX(-50%);
}
.portfolio__image {
  display: block;
  width: 100%;
  object-fit: contain;
}
@media (min-width: 768px) {
  .portfolio {
    padding-bottom: 173px;
  }
  .portfolio__caption {
    padding-left: 36px;
    padding-right: 37px;
    margin-bottom: 36px;

    text-align: left;
  }
  .portfolio__list {
    display: flex;
    justify-content: space-between;
    padding-left: 36px;
    padding-right: 37px;

    font-weight: 400;
  }
  .portfolio__item {
    margin-bottom: 0;
  }
}
