.reviews {
  margin: 0;
  padding: 0;
  padding-top: 149px;
  padding-bottom: 149px;

  background-color: #fdfaf3;
}
.reviews__caption {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 83px;

  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 45px;
  text-align: center;
  color: #00203a;
}
.reviews__item {
  position: relative;

  width: 92%;
  margin: 0 auto;
  padding: 0;
  padding-top: 196px;
  padding-bottom: 53px;
  margin-bottom: 49px;

  background-color: #ffffff;
}
.reviews__author-image {
  position: absolute;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
}
.reviews__author-name {
  display: block;
  margin: 0;
  padding: 0;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  line-height: 30px;
}
.reviews__about-author {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #efb172;
}
.reviews__text {
  margin: 0;
  padding: 0;

  font-family: "Raleway";
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  color: #5e5e5e;
}
.reviews__list {
  display: flex;
  width: 150px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;

  list-style: none;
}
.reviews__button-item {
  margin: 0;
  padding: 0;

  background-color: transparent;
}
.reviews__button {
  width: 26px;
  margin: 0;
  padding: 0;

  border: none;
  border-top: 3px solid #dde0db;

  cursor: pointer;
  &.active {
    border-color: #668182;
  }
}
.reviews__author--previous, .reviews__author--next {
  display: none;
}
@media (min-width: 768px) {
  .reviews {
    padding-top: 170px;
    padding-bottom: 157px;
    padding-left: 36px;
    padding-right: 37px;

    box-sizing: border-box;
  }
  .reviews__caption {
    display: block;
    margin-bottom: 55px;

    text-align: left;
  }
  .reviews__item {
    position: relative;

    width: 85%;
    margin: 0;
    padding: 0;
    padding-top: 54px;
    padding-bottom: 55px;
    padding-left: 71px;
    padding-right: 141px;
    margin-bottom: 62px;

    box-sizing: border-box;
  }
  .reviews__author-image {
    position: absolute;
    left: 100%;
    top: 30px;
  }
  .reviews__author-name {
    margin-bottom: 10px;

    font-size: 22px;
    text-align: left;
  }
  .reviews__about-author {
    font-size: 16px;
    text-align: left;
  }
  .reviews__text {
    font-size: 16px;
    text-align: left;
    line-height: 25px;
  }
}
@media (min-width: 1200px) {
  .reviews {
    max-width: 1360px;
    margin: 0 auto;
    padding: 0;
  }
  .reviews__caption {
    padding-left: 95px;
  }
  .reviews__item {
    width: 49%;
    margin: 0;
    margin-right: 115px;
  }
  .reviews__blockquote-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 81px;
  }
  .reviews__author--previous, .reviews__author--next {
    display: block;
    align-self: center;

    object-fit: none;
  }
  .reviews__author-image {
    top: 40px;
  }
  .reviews__list {
    margin-bottom: 160px;
  }
}
