.stages-work {
  margin: 0;
  padding: 0;
  margin-bottom: 115px;
}
.stages-work__caption {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;

  font-family: "Playfair Display";
  font-weight: 700px;
  font-size: 45px;
  text-align: center;
}
.stages-work__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-left: 16px;
  padding-right: 14px;

  list-style: none;
}
.stages-work__item {
  max-width: 45%;
  min-width: 293px;
  padding:0 10px;
  margin-bottom: 45px;
  flex-grow: 1;
  &:last-child {
    margin-bottom: 0;
  }
}
.stages-work__subtitle {
  margin: 0;
  padding: 0;

  font-family: "Raleway";
  font-weight: 700px;
  font-size: 24px;
}
.stages-work__text {
  margin: 0;
  padding: 0;


  font-family: "Raleway";
  font-weight: 400px;
  font-size: 18px;
  line-height: 25px;

  color: #7e7d7c;
}
.stages-work__delimiter {
  width: 42px;
  margin-left: 0;

  border: 1px solid #000000;
}
@media (min-width: 768px) {
  br {
    display: none;
  }
  .stages-work {
    width: 768px;
    margin: 0;
    padding: 0;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 187px;
    padding-bottom: 156px;

    box-sizing: border-box;
  }
  .stages-work__caption {
    margin-bottom: 65px;

    font-size: 45px;
    text-align: left;
  }
  .stages-work__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  .stages-work__item {
    display: flex;
    align-items: baseline;
    width: 355px;
    margin-right: 0;
  }
  .stages-work__subtitle {
    width: 280px;

    font-size: 22px;
  }
  .stages-work__text {
    font-size: 16px;
  }
  .stages-work__item-wrapper {
    display: flex;
    flex-direction: column;
    width: 275px;
  }
  .stages-work__item-number {
    display: block;
    min-width: 70px;
    min-height: 70px;
    margin: 0;
    padding: 0;
    padding-top: 35px;

    font-family: "Raleway";
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #00203a;

    background: url("../img/ellipse_tablet.png");
    background-position-y: 5px;
    background-position-x: 1px;
    background-repeat: no-repeat;
  }
}
